/*
Da Vinci CSS
Platform: Stylus

Original repository:
https://github.com/afonsopacifer/da-vinci-css
Author:
Afonso Pacifer (afonsopacifer.com)
Version: 0.2.0
Licence:
MIT - https://github.com/afonsopacifer/da-vinci-css/blob/master/licence.md
* /

/* Basic shapes
------------------------------------------------*/

// rectangle
rect($w, $h, $c = #eb02dd)
  background-color $c
  height $h
  width $w

// circle
circ($r, $c = #eb02dd)
  background-color $c
  border-radius 50%
  height $r * 2
  width $r * 2

// oval
oval($w, $h, $c = #eb02dd)
  background-color $c
  border-radius 50%
  height $h
  width $w

// triangle
tri($t, $l, $r, $c = #eb02dd)
  border-bottom $t solid $c
  border-left $l solid transparent
  border-right $r solid transparent
  height 0
  width 0

/* Pixel Art
------------------------------------------------*/

// pixel
pixel($r, $cl, $s, $c = #000)
  ($s * ($cl - 1)) ($s * ($r - 1)) $c

p($r, $cl, $s, $c = #000)
  ($s * ($cl - 1)) ($s * ($r - 1)) $c

// grid
grid($cell-size, $grid-size = 4, $stroke-color = #000)
  background linear-gradient(to top, transparent 94%, $stroke-color 94%) repeat-x, linear-gradient(to bottom, transparent 94%, $stroke-color 94%), linear-gradient(to left, transparent 94%, $stroke-color 94%) repeat-y, linear-gradient(to right, transparent 94%, $stroke-color 94%)
  background-size $cell-size
  height $cell-size * $grid-size
  width $cell-size * $grid-size

/* Edit
------------------------------------------------*/

// position
pos($x, $y, $z = 1)
  left $y
  position absolute
  top $x
  z-index $z

// flip
flip($x = horizontal)
  if $x == "horizontal"
    transform rotateY(180deg)
  if $x == "vertical"
    transform rotateX(180deg)

// clone
clone($x, $y, $c = #eb02dd)
  box-shadow $x $y $c
